<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PostMethodApp</servlet-name>
		<servlet-class>com.PostMethodAppServlet</servlet-class>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>PostMethodApp</servlet-name>
		<url-pattern>/postmethodapp</url-pattern>  
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostAppMethod</servlet-name>
		<servlet-class>com.PostAppMethodServlet</servlet-class>
	
	</servlet>	
	<servlet-mapping>
		<servlet-name>PostAppMethod</servlet-name>
		<url-pattern>/postappmethod</url-pattern>  
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index2.html</welcome-file>
	</welcome-file-list>
</web-app>
